body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .login{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 2px;
    
   
  }
  .multiplex-logo{
    height: 90%;
    width: 50%;
  }
  
  .card {
    background-color: #fff;
    width:auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    box-shadow: orange;
  }
  
  
  .form-group select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: orange;
  }
  .custom-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .custom-select:focus {
    border-color: orange; /* Change the border color to orange when the select element is focus*/
    
  }
  
  .btn {
    color: #fff;
    border:solid black;
    padding: 1px;
    border-radius: 2px;
    cursor: pointer;
    border-width: 1px;
    background-color: lightcoral;
   
    
  }
  
  .btn:hover {
    background-color: lightcoral;
    border-style: none;
  }
  /* footer*/
  footer {
    background-color: lightcoral;/* Light orange background color */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .left p {
    margin: 0;
  }
  
  .right p {
    margin: 5px 0;
  }
  
  .right i {
    margin-right: 5px;
  }
 